body
{
    margin: 0;
    padding: 0;
}

.first
{
    
    background-color: #655acf;
    
}
.row
{
    background-color: #655acf;
    
    
}
.row3
{
    background-color: #655acf;
}
.container
{
    background-color: #655acf;
}
.third
{
    background-color: #655acf;
}
.four
{
    background-color: #655acf;
}

.img2
{
    background-color: #655acf;
}
.row2
{
    background-color: #655acf;
}

.img1
{
   
    align-items: center;
    width: 100%;
    
}
.five
{
    background-color: #655acf;
}
.six
{
    background-color: #655acf;
}
.seven
{
    background-color: #655acf;
}
.eight
{
    background-color: #655acf;
}

.nine
{
    background-color: #655acf;
}